<section class="content" data-aos="fade-up" data-aos-delay="200">
  <div class="row d-flex justify-content-between bg-blue">
    <div class="col-md-6">
      <div class="info-margin title lh-base">
        let's discuss making your interior like a dream place!
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-column info-margin">
        <span class="w-75 fs-6 lh-base">
          Contact us below to work together to build your amazing interior
        </span>
        <div class="grid grid--1fr--1fr">
          <button mat-button class="btn--secondary mt-3" color="secondary">
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container" data-aos="fade-up" data-aos-delay="200">
  <div class="row d-flex justify-content-between">
    <div class="col-md-6">
      <div class="d-flex flex-column footer">
        <img src="/assets/logo.svg" width="126px" height="54px" alt="logo" />
        <div class="">One of the best furniture agency.</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-column footer">
        <ul>
          <li>Enter your email to get the laterst news</li>
        </ul>
        <!-- <input type="email" /> -->
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3"></div>
</section>
