<header>
  <div class="desk-view d-flex align-items-center justify-content-between">
    <div class="logo" routerLink="/">
      <a href="#"
        ><img src="/assets/logo.svg" width="126px" height="54px" alt="logo"
      /></a>
    </div>

    <div class="menu d-flex align-items-center">
      <ul>
        <li><a>Home</a></li>
        <li><a>About Us</a></li>
        <li><a>Services</a></li>
        <li><a>Our Teams</a></li>
      </ul>
      <button mat-flat-button>Contact Us</button>
    </div>
  </div>

  <div class="mb-res" #header [ngClass]="{ open: menu }">
    <aside>
      <div class="logo" routerLink="/">
        <img src="/assets/logo.svg" width="126px" height="54px" alt="logo" />
      </div>

      <button mat-icon-button (click)="toggleMenu()">
        <span class="d-flex"> <mat-icon>menu</mat-icon> </span>
      </button>
    </aside>

    <nav class="nav-menu" [ngClass]="{ open: menu }">
      <div class="d-flex align-items-center justify-content-between mb-5">
        <div class="title">
          <img src="/assets/logo.svg" width="126px" height="54px" alt="logo" />
        </div>

        <button mat-icon-button class="close-btn" (click)="toggleMenu()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <ul class="nav--links">
        <li><a>Home</a></li>
        <li><a>About Us</a></li>
        <li><a>Services</a></li>
        <li><a>Our Teams</a></li>
      </ul>
      <div class="nav--action mt-auto">
        <button mat-flat-button>Contact Us</button>
      </div>
    </nav>
  </div>
</header>
