@import "/src/styles.scss";

header {
  .desk-view {
    padding: 2em 8em;
    .menu {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-right: 4.5em;
          a {
            cursor: pointer;
            font-size: 16px;
            &:hover {
              @include semi-bold-font;
            }
          }
        }
      }
    }
  }
  .mb-res {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .desk-view {
      padding: 2em 2em;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    .desk-view {
      display: none !important;
    }
    .mb-res {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 0px;
      right: 0px;
      z-index: 3;
      background: $white;
      box-shadow: 0 1px 17px -10px rgb(2 70 145 / 33%);
      transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
      aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 1em;
        .logo {
          cursor: pointer;
        }
      }
      .nav-menu {
        padding: 3em 1.5em 2em;
        top: -16px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        transform: translateX(100%) translateX(100px);
        right: 0;
        bottom: 0;
        background: #062327;
        z-index: 100;
        width: -webkit-fill-available;
        overflow-y: scroll;
        transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
        &.open {
          transform: translateX(0);
        }
        .title {
          font-size: 26px;
          img {
            filter: invert(1);
          }
        }
        .close-btn {
          mat-icon {
            color: white;
            font-size: 37px;
          }
        }
        .nav--links {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 5em;
          li {
            margin: 0em 0em 4em;
            a {
              text-decoration: none;
              font-size: 18px;
              color: $white;
            }
          }
        }
      }
    }
  }
}

.d-flex {
  small {
    margin-bottom: 0.5em;
    color: white;
  }
  a:not(:last-child) {
    margin-bottom: 1em;
  }
}
.nav--action {
  display: flex;
  flex-direction: column;
  a {
    &:first-child {
      margin-bottom: 1em;
    }
  }
}
