<section class="content">
  <div
    class="d-flex flex-column justify-content-center align-items-center"
    data-aos="fade-up"
    data-aos-delay="500"
  >
    <div class="mb-2 bold-text mb-center display-3 fw-bold title mt-4">
      Minimalist Room
    </div>
    <p class="descr lh-base d-flex align-items-center text-center fs-6">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout.
    </p>
  </div>

  <div class="mt-5 body" data-aos="fade-up" data-aos-delay="500">
    <img src="/assets/photo1.svg" width="100%" height="auto" alt="image" />
    <div class="row justify-content-between">
      <div
        class="col-md-6 d-flex flex-column header"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="fs-3 fw-bold holder">Project Overview</div>
        <div class="mt-5 muted-text fs-6 lh-base">
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere. Online learning with us does not
          interfere with your daily life. because learning can be done anytime
          and anywhere.
        </div>
        <div
          class="mt-auto d-flex muted-text fs-6 lh-base justify-content-between"
        >
          <span>July 22 - 2022</span>
          <span class="footer-span">Interior Design - Furnitur</span>
        </div>
      </div>
      <div
        class="col-md-6 d-flex flex-column header"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="fs-3 fw-bold holder">Design Process</div>
        <div class="mt-5 muted-text fs-6 lh-base">
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere.
        </div>
        <div class="muted-text fs-6 lh-base mt-4">
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere.
        </div>
      </div>
    </div>

    <div class="row justify-content-between header">
      <div
        class="col-md-6 d-flex flex-column image-fit"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <img src="/assets/photo2.svg" width="100%" height="auto" alt="image" />
      </div>
      <div
        class="col-md-6 d-flex flex-column image-fit"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <img src="/assets/photo3.svg" width="100%" height="auto" alt="image" />
      </div>
    </div>
    <img
      src="/assets/photo4.svg"
      width="100%"
      height="auto"
      alt="image"
      class="spacer"
      data-aos="fade-up"
      data-aos-delay="400"
    />

    <div class="row justify-content-between header spacer">
      <div
        class="col-md-6 d-flex flex-column image-fit"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <img src="/assets/photo5.svg" width="100%" height="auto" alt="image" />
      </div>
      <div
        class="col-md-6 d-flex flex-column image-fit"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <img src="/assets/photo6.svg" width="100%" height="auto" alt="image" />
      </div>
    </div>
  </div>
</section>
